.h1 {
    color: red;
    font-size: 24px;
    background: red;
}

#p1 {
    background-color: yellow;
    padding: 10px
}

#div1 {
    border: 1px solid black;
}

#div2 {
    border: 1px solid black;
    background: red;
}

h2 {
    color: blue;
}

#hi {
    font-weight: bold;
}

#hello {
    font-weight: italic;
}

#p2 {
    text-align: center;
}